@mixin absolute-cover {
    @include full;
}

@mixin caption {
    @include text-center;
    bottom: 0;
    font-size: 2em;
    font-weight: bold;
    left: 0;
    letter-spacing: 5px;
    padding: $large-padding;
    position: absolute;
    text-transform: uppercase;
    width: auto;
    z-index: 10;
    color: rgba($color: $grey, $alpha: 0.5);
}

@mixin center-vertical-horizontal {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin full {
    height: 100%;
    width: 100%;
}

@mixin main-text {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.5em;
    padding: $tb-large-padding;
    h1,
    h2 {
        font-weight: inherit;
        font-size: $font-big;
        letter-spacing: 0.3em;
        line-height: 1.5em;
        padding: inherit;
    }
    p {
        padding: $tb-large-padding;
    }
}

@mixin text-center {
    text-align: center;
}

@mixin text-right {
    text-align: right;
}

@mixin transition {
    transition: all .6s ease-out;
}