/* Colors */

$black: #000000;
$blue: #2c3e50;
$dark-violet: #6b5493;
$grey: #d7dadb;
$lightblue: #6DBcdb;
$orange: #ec792c;
$pink: #e09377;
$red: #d9331a;
$turkey: #14b49c;
$violet: #6b5493;
$white: #ffffff;

/* Fonts */

$font-big: 48px;
$font-medium: 20px;
$font-small: 16px;

/* padding */

$big-padding: 20px 30px;
$large-padding: 10px 15px;
$lr-big-padding: 0 30px;
$lr-large-padding: 0 15px;
$tb-big-padding: 20px 0;
$tb-large-padding: 10px 0;

/* margin top */

$big-margin-top: 90px;
$large-margin-top: 30px;

/* others */

$border-radius: 4px;