/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import './modules/_variables';
@import './modules/_mixins.scss';

/* SCSS */

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 .5em;
}

img {
    max-width: 100%;
}

figure {
    position: relative;
    max-height: 100%;
    margin: 0;
    figcaption {
        @include caption;
    }
}


/* IDs */

#mapa {
    width: 100%;
    min-height: 100vh;
}

#slider-image {
    @include transition;
    &.hide {
        opacity: 1;
    }
}

#slider-text-content {
    @include transition;
    &.hide {
        opacity: 0;
        color: $blue;
        transform: translateX(100px);
    }
}


/* classes */

.btn {
    box-sizing: border-box;
    color: $black;
    letter-spacing: 2px;
    padding: $large-padding;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &::before {
        content: '';
        background-color: $lightblue;
        bottom: 0px;
        height: 40%;
        left: 0px;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    &:hover::before {
        height: 100%;
    }
}

.container {
    grid-column: span 12;
}

.cover {
    @include absolute-cover;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    &.parallax {
        background-attachment: fixed;
        background-image: url('../../public/images/3.jpg');
    }
    p {
        @include caption;
        @include text-right;
        background-color: rgba($blue, .8);
        box-sizing: border-box;
        margin-bottom: $large-margin-top;
        left: 0;
        right: 0;
        width: 100%;
        span {
            display: block;
            font-size: .5em;
            font-weight: 200;
            margin-top: 6px;
        }
    }
}

.full-height {
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-width: 100%;
}

.grid-main-area {
    display: grid;
    grid-template-columns: repeat(9 1fr);
    grid-template-areas: "title title title title title title title title title" "image image image image image image image image image";
    margin-top: $large-margin-top;
    margin-bottom: $large-margin-top;
    .main-text {
        @include main-text;
        grid-area: title;
    }
    .main-image {
        grid-area: image;
        display: flex;
        align-items: center;
    }
}

.menu {
    @include center-vertical-horizontal;
    background-color: $white;
    border-radius: 50%;
    border: solid 1px $blue;
    cursor: pointer;
    height: 60px;
    position: fixed;
    right: 2em;
    top: 2em;
    width: 60px;
    @include transition;
    transition-duration: .15s;
    z-index: 100;
    img {
        height: 60px;
    }
    &:hover {
        background-color: $lightblue;
    }
}

.menu-screen {
    @include center-vertical-horizontal;
    @include transition;
    background-color: $white;
    position: fixed;
    height: 100vh;
    top: -101vh;
    width: 100%;
    z-index: 100;
    a {
        display: block;
        text-decoration: none;
        @include text-center;
        position: relative;
        margin-top: 1em;
        &:first-of-type {
            margin-top: 0;
        }
        .main {
            display: block;
            font-size: 2em;
            color: $lightblue;
        }
        span:not(.main) {
            color: $pink;
            opacity: 0;
            @include transition;
            transition-duration: .2s;
        }
        &::after {
            @include transition;
            background-color: $blue;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            top: 1.2em;
            transition-duration: .2s;
            transform: scale(0);
            width: 100%;
        }
        &:hover {
            color: $lightblue;
        }
        &:hover::after {
            transform: scale(1);
        }
        &:hover span:not(.main) {
            opacity: 1;
        }
    }
    &.active {
        top: 0;
    }
    .close {
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 1em;
        img {
            width: 45px;
        }
    }
}

.mission {
    align-items: center;
    .container {
        @include main-text;
        font-size: 1.1em;
        figure {
            float: right;
            margin-left: 20px;
        }
        p {
            line-height: 2em;
            &:nth-of-type(1) {
                margin-bottom: 3em;
                position: relative;
                &::after {
                    content: '';
                    background-color: $blue;
                    position: absolute;
                    bottom: -1.5em;
                    height: 4px;
                    width: 70%;
                    z-index: -1;
                }
            }
        }
    }
}

.slider {
    header {
        background-color: $blue;
        box-sizing: border-box;
        color: $white;
        margin: 0 auto;
        padding: $big-padding;
        position: relative;
        transform: translateY(40px);
        width: 90%;
        z-index: 10;
        h2 {
            margin: 0;
        }
        .separator {
            color: $white;
            padding-right: 150px;
            position: relative;
            text-align: right;
            &::after {
                content: '';
                background-color: currentColor;
                height: 3px;
                position: absolute;
                right: 0;
                top: 1.25em;
                width: 140px;
            }
        }
    }
    .controls {
        text-align: right;
        margin-bottom: 20;
        padding-right: 2em;
        display: none;
        .right-arrow,
        .left-arrow {
            @include transition;
            height: 70px;
            transition-duration: .15s;
            cursor: pointer;
            &:hover {
                opacity: .4;
            }
        }
        .left-arrow {
            margin-right: 1.5em;
            transform: rotate(180deg);
        }
    }
    .main-image {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}

.social {
    margin-bottom: $big-margin-top;
    margin-top: $big-margin-top;
    @include text-center;
    p.title {
        font-weight: 200;
        font-size: 2.5em;
        margin: $tb-big-padding;
    }
    a {
        display: block;
        margin: 1em auto;
        max-width: 150px;
    }
}

@media (min-width: 960px) {
    body {
        margin: 0;
    }
    .container {
        grid-column: 2 / 12;
    }
    .grid-main-area {
        display: grid;
        grid-template-areas: "title title title image image image image image image";
        grid-template-columns: repeat(9 1fr);
        .main-image {
            padding-top: 0;
        }
    }
    .slider {
        align-items: center;
        header {
            transform: translateX(100px);
            width: 100%;
            min-height: 300px;
        }
    }
    .social {
        a {
            display: inline-block;
            margin-top: 0;
            margin-right: 90px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}